.theme-btn{
    border: none;
    background:transparent;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 27px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    text-transform: capitalize;
}
.theme-btn-bordered{
    border: 1px solid #000E28;
    color: #000000;
    padding: 13px 30px;
    box-shadow: 2px 2px 2px 3px #000000;
    &:hover{
        background: #000000;
        color: #fff;
    }
}
.theme-shadow-btn{
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 20px 58px;
    color: #000000;
    box-shadow: 2px 3px 8px #000000;
    &:hover{
        background:#000000;
        color: #fff;
    }
}