.theme-rounded-shadow-btn {
    display: block;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    padding: 28px 67px;
    background-color: #00CCFF;
    border-radius: 355px;
    box-shadow: 0px 0px 60px 0px rgba(0, 204, 255, 0.5);
}

.theme-btn-rounded {
    display: inline-block;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(0, 204, 255, 1);
    padding: 28px 46px;
    border-radius: 60px;
}

@media screen and (max-width:480px) {
    .theme-rounded-shadow-btn {
            font-size: 16px;
            padding: 18px 46px;
            box-shadow: 0px 0px 40px 0px rgba(0, 204, 255, 0.5);
        }
}