@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-MdEx.eot');
    src: url('../fonts/HelveticaNeueLTStd-MdEx.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-MdEx.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-MdEx.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-MdEx.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTStd-MdEx.svg#HelveticaNeueLTStd-MdEx') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}