footer {
    .footer-container {
        max-width: 1670px;
        margin: 0px auto;
    }

    .social-list {
        ul {
            display: flex;
            align-items: center;
            margin-top: 30px;
            margin-left: 30px;

            li {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    height: 32px;
                    width: 32px;
                    background-color: #333e53;
                    border-radius: 6px;
                    margin-left: 20px;
                    color: #fff;
                }
            }
        }
    }

    .footer-nav-wrapper {
        .footer-heading {
            h3 {
                font-weight: 700;
                font-size: 22px;
                line-height: 32px;
                color: rgba(255, 255, 255, 1);
            }
        }

        .footer-nav {
            margin-top: 27px;

            ul {
                li {
                    a {
                        text-decoration: none;
                        text-transform: capitalize;
                        display: block;
                        font-size: 16px;
                        line-height: 36px;
                        color: rgba(255, 255, 255, 0.8);

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }
            }
        }
    }

    .footer-top-area {
        border-bottom: 1px solid rgba(255, 255, 255, 0.111);
     
    }

    .footer-copyright-area {
        padding-top: 23px;
        padding-bottom: 10px;

        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: #fff;
        }

    }
}

@media screen and (min-width:768px) and (max-width:992px){

    .social-widget {
        margin-bottom: 50px;
    }
}
@media screen and (max-width:767px) {

    .social-widget {
        margin-bottom: 40px;
    }

    footer {
        padding: 0px 25px;
    }

    footer .footer-nav-wrapper .footer-nav {
        margin-top: 10px;
    }

    .footer-nav-wrapper {
        margin-top: 20px;
    }

    footer .footer-top-area {
        padding-bottom: 40px;
    }
}