.header-transparent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-area {

    .header-top-area {

        background: rgba(0, 14, 40, 1);

        p {
            font-weight: 600;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
            line-height: 21px;
            margin-top: 15px;
            margin-left: 5px;
        }
    }
}

.menu-area {
    padding-top: 20px;

    .logo-area {
        display: block;

        img {
            width: 240px;
        }
    }

    .primary-nav {
        ul {
            display: flex;
            align-items: center;

            li {
                a {
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    color: rgba(255, 255, 255, 1);
                    text-transform: capitalize;
                    margin-right: 80px;
                }
            }
        }
    }
}

.header-right-area {
    .link {
        a {
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: rgba(255, 255, 255, 1);
            text-transform: capitalize;
            display: block;
            margin-right: 50px;
        }
    }

    .languages {
        a {
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
            text-transform: capitalize;
        }
    }
}