.header-area {
    position: relative;
    z-index: 9888;

    &.header-transparent {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }



    .header-top-area {

        background: rgba(0, 14, 40, 1);

        p {
            font-weight: 600;
            font-size: 18px;
            color: rgba(255, 255, 255, 1);
            line-height: 21px;
            margin-top: 15px;
            margin-left: 5px;
        }
    }

    position: relative;

    .languages {
        display: flex;
        align-items: center;
        position: absolute;
        top: 83px;
        right: 100px;
        z-index: 988;

        a {
            text-decoration: none;
            font-weight: 700;
            font-size: 16px;
            color: rgba(255, 255, 255, 1);
            text-transform: capitalize;
            display: block;
            margin-right: 10px;
        }

        &:hover {
            .lists {
                opacity: 1;
                visibility: visible;
                transition: all ease-in 0.4s;
            }
        }

        .lists {
            position: absolute;
            top: 100%;
            left: 0px;
            width: 150px;
            padding-top: 10px;
            opacity: 0;
            visibility: hidden;

            li {
                a {
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;

                    span {
                        display: block;
                        margin-right: 10px;
                    }
                }

            }
        }

        &.sticky-flag {
            position: fixed;
            top: 35px;

            a {
                color: #222;
            }

            .lists {
                left: 0px;

                a {
                    font-size: 14px;
                    color: #fff;
                }
            }
        }
    }

}

.menu-area {

    &.sticky {
        background: #fff;
        position: fixed;
        width: 100%;
        padding: 5px 0px;
        top: 0;
        transition: all 0.4s ease;
        box-shadow: 0px 1px 15px rgb(0 0 0 / 10%);
        z-index: 92;

        .primary-nav {
            ul {
                li {
                    a {
                        color: #222;
                    }
                }
            }
        }

        .header-right-area {
            .link {
                a {
                    color: #222;


                }
            }
        }

    }

    .logo-area {
        display: block;

        img {
            width: 240px;
        }
    }

    .primary-nav {
        ul {
            display: flex;
            align-items: center;


            li {


                a {
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    color: rgb(255, 255, 255);
                    text-transform: capitalize;
                    margin-right: 50px;
                    display: block;
                    border-radius: 20px;
                    padding: 5px 20px;
                    min-height: 80px;
                    line-height: 80px;
                    position: relative;


                    &::before {
                        position: absolute;
                        border: 2px solid transparent;
                        border-radius: 20px;
                        height: 40px;
                        width: 100%;
                        top: 50%;
                        left: -50%;
                        transform: translateY(-50%);
                        content: "";
                        transition: all ease-in 0.4s;

                    }

                    &:hover {
                        &::before {
                            border-color: #fff;
                            left: 0%;
                            background: rgba(255, 255, 255, 0.2);
                        }
                    }
                }

                position: relative;

                ul {
                    position: absolute;
                    top: 100%;
                    flex-direction: column;
                    align-items: stretch;
                    min-width: 350px;
                    background: #fff;
                    padding: 20px 30px;
                    border-radius: 25px;
                    border-top-left-radius: 0px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all ease-in 0.5s;
                    margin-top: 0px;

                    li {
                        min-height: fit-content;

                        a {
                            font-weight: 500;
                            font-size: 18px;
                            display: block;
                            line-height: 46px;
                            color: rgba(70, 75, 85, 1);
                            border-bottom: 1px solid rgba(0, 14, 40, 0.1);
                            text-align: left;
                            width: 100%;
                            min-height: fit-content;
                            border-radius: 0px;
                            padding: 0px;

                            &:hover {
                                color: rgba(0, 204, 255, 1);

                                &::before {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}

.header-right-area {
    .link {
        a {
            text-decoration: none;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: rgba(255, 255, 255, 1);
            text-transform: capitalize;
            display: block;
            margin-right: 50px;
            position: relative;
            padding: 5px 10px;

            &::before {
                position: absolute;
                border: 2px solid transparent;
                border-radius: 20px;
                height: 40px;
                width: 100%;
                top: 50%;
                right: -50%;
                transform: translateY(-50%);
                content: "";
                transition: all ease-in 0.4s;

            }

            &:hover {
                &::before {
                    border-color: #fff;
                    right: 0%;
                    background: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }


}

// mobile menu button
.mobile-menu-btn {
    position: absolute;
    top: 57px;
    right: 23px;

    button {
        background: transparent;
        border: none;
        font-size: 20px;
        color: rgba(255, 255, 255, 1);
        font-weight: 400;
    }

    &.sticky-btn {
        position: fixed;
        top: 15px;
    }
}

.mobile-nav {
    transform: translateX(-110%);
    transition: transform ease-in 0.5s;

    &.active {
        transform: translateX(0);
        transition: transform ease-in 0.5s;
    }

    .mobile-nav-wrapper {
        background-color: #fff;
        border-radius: 25px;
        border-top-right-radius: 0px;
        padding: 20px 20px;
        margin-top: 20px;
        padding-bottom: 50px;
        margin-left: 10px;
        width: calc(100vw - 36px);

        ul {
            li {
                &.has-children {
                    position: relative;

                    &::before {
                        position: absolute;
                        right: 30px;
                        top: 5px;
                        content: "+";
                        font-size: 32px;
                    }

                    &.active {
                        &::before {
                            content: "-";
                        }
                    }
                }

                a {
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: rgba(70, 75, 85, 1);
                    display: block;
                    border-bottom: 1px solid rgba(0, 14, 40, 0.1);
                    padding: 15px 0px;
                    text-transform: capitalize;
                    padding-left: 20px;
                }

                ul {
                    margin-left: 20px;
                    opacity: 0;
                    visibility: hidden;
                    height: 0px;

                    li {
                        a {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 36px;
                            border-bottom-color: transparent;
                            padding: 0px;
                        }
                    }
                }

                transition: all ease-in 0.5s;

                &.has-children {
                    &.active {
                        a {
                            color: rgba(0, 204, 255, 1);
                        }

                        ul {
                            opacity: 1;
                            visibility: visible;
                            height: fit-content;
                            transition: all ease-in 0.5s;

                            li {
                                a {
                                    color: rgba(70, 75, 85, 1);

                                    &:hover {
                                        color: rgba(0, 204, 255, 1);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}






// responsive
@media screen and (min-width:1400px) and (max-width:1550px) {
    .header-right-area .link {
        margin-right: 150px;
    }
}

@media screen and (min-width:992px) and (max-width:1400px) {
    .menu-area .primary-nav ul li a {
        margin-right: 0px;
    }

    .header-area .languages {
        right: 35px;
    }
}

@media screen and (max-width:991px) {
    .header-area .header-top-area p {
        font-size: 14px;
        line-height: 16px;
    }

    .menu-area .logo-area {
        margin-top: 11px;

        img {
            width: 180px;
        }
    }

    .header-area .languages {
        top: 62px;
        right: 65px;

        &>a {

            display: none;
        }

        img {
            width: 30px;
        }
    }

    .menu-area.sticky {
        background: transparent;
    }

}

@media screen and (min-width:401px) {
    .mobile-nav .mobile-nav-wrapper {
        width: 340px;
    }
}