.hero-video{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1
}
@media (min-aspect-ration:16/9) {
    .hero-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ration:16/9) {
    .hero-video{
        width: auto;
        height: 100%;
    }
}