#ctaArea {
    .section-subheading {
        padding: 0px 230px;

        p {
            font-size: 26px;
            line-height: 36px;
            color: rgba(0, 14, 40, 0.8);
        }
    }

    .content-circle {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .circle-inner {
            height: 350px;
            width: 350px;
            border-radius: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px 50px;

            h2 {
                font-size: 60px;
                display: flex;
                align-items: center;
                span:nth-child(2){
                    margin-top: 7px;
                }
            }

            p {
                font-weight: 700;
                font-size: 26px;
                line-height: 36px;
                color: rgba(0, 14, 40, 0.8);
                margin-top: 10px;
            }
        }
    }

    .circle-wrapper {
        .col {
            &:nth-child(1) .circle-inner {
                background-color: #E5E5FF;
                box-shadow: 2px 3px 0px 0px #0000FF;

                h2 {
                    color: rgba(0, 0, 255, 1);
                }
            }

            &:nth-child(2) {
                .circle-inner {
                    background-color: #E5FAFF;
                    box-shadow: -2px -3px 0px 0px #00CCFF;

                    h2 {
                        color: rgba(0, 204, 255, 1);
                    }
                }
            }

            &:nth-child(3) {
                .circle-inner {
                    background-color: #FDF4DA;
                    box-shadow: 2px 3px 0px 0px #FFD964;

                    h2 {
                        color: rgba(250, 188, 0, 1);
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1200px) and (max-width:1400px) {

    #ctaArea .content-circle .circle-inner {
        height: 300px;
        width: 300px;
        padding: 0px 20px;
    }



    #ctaArea .content-circle .circle-inner p {

        font-size: 24px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    #ctaArea .section-subheading {
        padding: 0px 150px;

        p {
            font-size: 20px;
            line-height: 36px;
        }
    }

    #ctaArea .content-circle .circle-inner {
        height: 230px;
        width: 230px;
        padding: 0px 20px;
    }

    #ctaArea .content-circle .circle-inner h2 {
        font-size: 36px;
        line-height: 40px;
    }

    #ctaArea .content-circle .circle-inner p {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        margin-top: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    #ctaArea .section-subheading {
        padding: 0px 100px;

        p {
            font-size: 20px;
            line-height: 36px;
        }
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    #ctaArea .section-subheading {
        padding: 0px 0px;

        p {
            font-size: 20px;
            line-height: 36px;
        }
    }
}

@media screen and (max-width:575px) {
    #ctaArea .section-subheading {
        padding: 0px 0px;

        p {
            font-size: 20px;
            line-height: 36px;
        }
    }

    #ctaArea .content-circle .circle-inner {
        height: 300px;
        width: 300px;

        h2 {
            font-size: 40px;
            line-height: 50px;
        }

        p {
            font-size: 22px;
            line-height: 30px;
        }
    }
}