#technology-area {


    .technolgy-slider-wrapper {
        min-height: 400px;

        .swiper-slide {
            cursor: pointer;

            &:hover {
                width: 400px !important;
                padding: 0px 20px;
                margin-left: 0px;
                transition: all ease 0.5s;

                @media screen and (max-width:560px) {
                    padding: 0px 0px;
                }

                .slide {

                    .slide-inner {
                        box-shadow: none;
                    }

                    .content {

                        visibility: visible;
                        opacity: 1;

                    }

                    .icon-area {
                        margin-top: -30px;
                        
                    }
                }
            }



        }

        .slide {

            padding: 10px;
            border-radius: 15px;
            background: #fff;
            filter: drop-shadow(-4px, 10px rgba(0, 14, 40, 0.08));
            padding: 40px 20px;

            &:hover {
                background: transparent;
            }

            .slide-inner {
                min-height: 180px;
                position: relative;

                .icon-area {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
              
                 

                    h3 {
                        margin-top: 20px;
                        text-align: center;
                    }
                }

                .content {
                    // height: 0px;
                    // visibility: hidden;
                    // opacity: 0;
                    padding-top: 20px;
                    transition: all linear 0.2s;
                    position: absolute;
                    top: 65%;
                    width: 100%;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;

                    p {
                        text-align: center;
                        font-family: $raleway;
                        font-size: 16px;
                        line-height: 25px;
                        color: rgba(0, 14, 40, 0.8);
                    }

                    a {
                        font-family: $raleway;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 25px;
                        color: rgba(0, 14, 40, 0.9);
                        text-decoration: none;
                        text-transform: capitalize;
                        display: block;
                        text-align: center;
                    }
                }
            }



        }

    }
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    #technology-area .section-heading {
        padding: 0px 100px;
    }

    #technology-area .slider-wrapper {
        min-height: 360px;
    }

    #technology-area .slider-wrapper .slide {
        padding: 10px;
        position: relative;

        .content {
            position: absolute;
        }
    }


}

@media screen and (min-width:768px) and (max-width:991px) {
    #technology-area .section-heading {
        padding: 0px 100px;
    }

    #technology-area .slider-wrapper {
        min-height: 360px;
    }



    #technology-area .slider-wrapper .slide {
        padding: 10px;
        position: relative;

        .content {
            position: absolute;
        }
    }


}




@media screen and (min-width:481px) and (max-width:575px) {
    #technology-area .slider-wrapper {
        min-height: 300px;
    }

    #technology-area .slider-wrapper .slide {
        width: 240px;
        padding: 10px;
        position: relative;

        .content {
            position: absolute;
        }
    }

    #technology-area h3 {
        font-size: 16px;
        line-height: 26px;
    }

    #technology-area .slider-wrapper .slide:hover {
        width: 300px;
    }

    #technology-area .slider-wrapper .slide .slide-inner .content p {
        margin-bottom: 0px;
    }

    #technology-area .slider-wrapper .slide .slide-inner .content {
        margin-top: 5px;
    }
}

@media screen and (max-width:480px) {
    #technology-area .technology-slider-two {
        min-height: 340px;
    }

    #technology-area .technology-slider-two .slide .slide-inner .content {
        top: 60%;
    }

    #technology-area .slider-wrapper .slide .slide-inner .icon-area img {
        width: 50px;
        height: 50px;
    }

    #technology-area h3 {

        font-size: 18px;
        line-height: 26px;

    }

    #technology-area .slider-wrapper .slide .slide-inner {
        border-radius: 10px;
        padding: 20px 0px;
        min-height: 196px;
    }


    #technology-area .slider-wrapper .slide .slide-inner .content {
        margin-top: 10px;

    }

    #technology-area .slider-wrapper .slide .slide-inner .content p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 0px;
    }

    #technology-area .slider-wrapper {
        min-height: 245px;
    }



    #technology-area .slider-wrapper .slide .slide-inner .icon-area {
        padding-top: 20px;
    }

    #technology-area {


        .technology-slider-two {

            .swiper-slide {

                &:hover {
                    width: 300px !important;
                }
            }
        }


    }
}

@media screen and (max-width:768px) {
    #technology-area .section-heading {
        padding: 0px 0px;
    }


}