#technology-area {
    .section-heading {
        padding: 0px 300px;
    }

    .slider-wrapper {
        min-height: 450px;
        &:hover{
            .swiper-slide{
                transition: all ease 0.5s;
                &.swiper-slide-prev{
                    transition: all ease 0.5s;
                   transform: translateX(-60px) scaleX(0.9);

                }
            }
        }
        .swiper-slide {
            
            &.swiper-slide-active {
                &:hover {
                    width: 500px !important;
                    margin-left: -80px;
                    transition: all ease 0.5s;

                    .slide {
                        .slide-inner {
                            box-shadow: none;
                        }

                        .content {
                            transition: all linear 0.5s;
                            height: fit-content;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }

            }
           
        }

        .slide {
            margin: 0px 10px;

            padding: 10px;

            .slide-inner {
                border-radius: 15px;
                box-shadow: 0 2px 5px 1px rgba(0, 14, 40, 0.08);
                padding: 40px 28px;
                min-height: 250px;

                .icon-area {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h3 {
                        margin-top: 20px;
                        text-align: center;
                    }
                }

                .content {
                    height: 0px;
                    visibility: hidden;
                    opacity: 0;
                    margin-top: 10px;
                    transition: all linear 0.2s;

                    p {
                        text-align: center;
                        font-family: $raleway;
                        font-size: 16px;
                        line-height: 25px;
                        color: rgba(0, 14, 40, 0.8);
                    }

                    a {
                        font-family: $raleway;
                        font-weight: 600;
                        font-size: 15px;
                        line-height: 25px;
                        color: rgba(0, 14, 40, 0.9);
                        text-decoration: none;
                        text-transform: capitalize;
                        display: block;
                        text-align: center;
                    }
                }
            }



        }

    }
}

// .prev-slide {
//     transform: translateX(-50px);
//     transition: all linear 0.5s;
// }

// .next-slide {
//     transform: translateX(50px);
//     transition: all linear 0.5s;
// }

// .active-slide-on-mouse {
//     transition: all linear 0.5s;
//     animation-name: fadeIn;
//     animation-duration: 0.5s;

//     .slide-inner {
//         box-shadow: none;
//         transition: all ease 0.5s;
//     }

// }

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    #technology-area .section-heading {
        padding: 0px 100px;
    }

    #technology-area .slider-wrapper {
        min-height: 360px;
    }

    #technology-area .slider-wrapper .slide {
        padding: 10px;
        position: relative;

        .content {
            position: absolute;
        }
    }

    .prev-slide {
        transform: translateX(20px);
    }

    .next-slide {
        transform: translateX(20px);
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    #technology-area .section-heading {
        padding: 0px 100px;
    }

    #technology-area .slider-wrapper {
        min-height: 360px;
    }

    .prev-slide {
        transform: translateX(20px);

    }

    .next-slide {
        transform: translateX(20px);
    }

    #technology-area .slider-wrapper .slide {
        padding: 10px;
        position: relative;

        .content {
            position: absolute;
        }
    }
}




@media screen and (min-width:481px) and (max-width:575px) {
    #technology-area .slider-wrapper {
        min-height: 300px;
    }

    #technology-area .slider-wrapper .slide {
        width: 240px;
        padding: 10px;
        position: relative;

        .content {
            position: absolute;
        }
    }

    #technology-area h3 {

        font-size: 20px;
        line-height: 30px;

    }

    #technology-area .slider-wrapper .slide:hover {
        width: 300px;
    }

    .prev-slide {
        transform: translateX(20px);

    }

    .next-slide {
        transform: translateX(20px);
    }

    #technology-area .slider-wrapper .slide .slide-inner .content p {
        margin-bottom: 0px;
    }

    #technology-area .slider-wrapper .slide .slide-inner .content {
        margin-top: 5px;
    }
}

@media screen and (max-width:480px) {
    #technology-area .slider-wrapper .slide .slide-inner .icon-area img {
        width: 50px;
        height: 50px;
    }

    #technology-area h3 {

        font-size: 18px;
        line-height: 26px;

    }

    #technology-area .slider-wrapper .slide .slide-inner {
        border-radius: 10px;
        padding: 20px 10px;
        min-height: 196px;
    }

    #technology-area .slider-wrapper .slide {
        margin: 0px 5px;
        width: 196px;
        padding: 10px;
        position: relative;

        .content {
            position: absolute;
        }
    }

    #technology-area .slider-wrapper .slide:hover {
        width: 250px;
    }

    .prev-slide {
        transform: translateX(0px);

    }

    .next-slide {
        transform: translateX(0px);
    }

    #technology-area .slider-wrapper .slide .slide-inner .content {
        margin-top: 10px;
    }

    #technology-area .slider-wrapper .slide .slide-inner .content p {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 0px;
    }

    #technology-area .slider-wrapper {
        min-height: 245px;
    }

    #technology-area .slider-wrapper .slide .slide-inner .icon-area {
        padding-top: 20px;
    }
}

@media screen and (max-width:768px) {
    #technology-area .section-heading {
        padding: 0px 0px;
    }


}